.roomContainer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.room {
  padding: 20px;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 3%;
}

.room img {
  width: 100%;
  border-radius: 3%;
}

@media only screen and (min-width: 576px) {
  .App {
    padding: 0;
  }
  .roomBlock {
    width: 40%;
  }
}

@media only screen and (min-width: 1000px) {
  .App {
    padding: 0;
  }
  .roomBlock {
    width: 27%;
  }
}